-----BEGIN CERTIFICATE-----
MIICwzCCAaugAwIBAgIJAJ9FLjsXfmuTMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNV
BAMTCWxvY2FsaG9zdDAeFw0yMTA1MDEwMzM2NDdaFw0zMTA0MjkwMzM2NDdaMBQx
EjAQBgNVBAMTCWxvY2FsaG9zdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
ggEBAPHX6UGHHVRgn/zrrK1/3J93LGy0ZBFlSbiRS3kg42jcX2p4z+lW1Fm5kkSi
2I56WT/PO2RTRdMC/q0F6iqxIRfp1EBWa8BQbr8WqrseKh9L+cNSSdS3vQC1tdxM
wtm8WRpgcULCT6HBbu5XtWMGRlI5WxHq2Xo9ysy7/d4uTqQHY2Iu7++HGgQGmZDa
VBDNGSA0mWGO+zQ4O6S/yTCq4ziEal0WcqwcVJaHfVmhPTdhF0mREA3REZ6WVSAI
nME2sYCk3BSURvZA5k98/+A2Ypcbgp/X9esjHDfBXv5RIUMqkz9QJ1TWRpjD9Inh
FTKW0P7oyddPGv9TSg0RGt7PxHkCAwEAAaMYMBYwFAYDVR0RBA0wC4IJbG9jYWxo
b3N0MA0GCSqGSIb3DQEBBQUAA4IBAQBOvij885JvTmMsnqkkOjkj2/LuktCB/Emp
s/ACKy6vJKXzuBcciNqEGT4kzUb1BIY+wRF7OIeJGqaSp0Pau2Y1D/e1gt6p/tvZ
yEH3QVliLJSPcqr2Hdehy4lTtqwhCWm85VmqsBiQIXaOIeUNmnEVZJ0QUI2LkzH/
VYLvRXiavjfeZTJTr0n21nTGaUYLWM+q6+7QWkDXKxpSxFaLZW9SorzP219BQRvn
k3VWlSd62YHmfKHC4zBP91OqtZa70WuubpssVKIc0dp99BOUAF9q9udOWJTLsiPt
QGNsBTkehUmvpMeGQ3rOhwS/zeukuTNLoi2FOE1IAigmQZHL7RzA
-----END CERTIFICATE-----
